{% extends 'base.html' %}

{% block meta %}
    <title>ROSTER</title>
{% endblock meta %}

{% block content %}

{% include 'navbar.html' %}

{% comment %} Shout out to Faris Zhafir Faza for helping me {% endcomment %}
<div class="px-4 my-7 ml-7">
    <h1 class="text-2xl font-bold font-sans">Greetings Officer <span class="text-red-500">{{ creator }}</span> from {{ class }}!</h1>
    <h1 id="roster-size-text" class="font-extrabold text-xl text-black mt-1">
        You have <span class="text-red-500">{{ roster_size }}</span> operator(s) in your roster
    </h1>

    <div class="flex justify-between" id="msgcontainer">
        <h1 id="msgtext" class="font-extrabold text-2xl mt-3 text-black"></h1>
        <div class="flex">
            <a class="flex w-fit justify-self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-4 mr-2 mb-2 focus:outline-none">
                <button data-modal-target="modal" data-modal-toggle="modal" type="button">
                    Create operator
                </button>
            </a>
        </div>
    </div>
    
    <div id="operator_card" class="flex flex-wrap justify-center"></div>

    <div id="modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
                <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create operator</h3>
                    <form class="space-y-6" id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" name="name" id="name" class="form-control border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Operator" required>
                        </div>
                        <div>
                            <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unit</label>
                            <input type="text" name="unit" id="unit" class="form-control border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="GSG-9" required>
                        </div>
                        <div>
                            <label for="primary_weapon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primary Weapon</label>
                            <input type="text" name="primary_weapon" id="primary_weapon" class="form-control border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="M4A1" required>
                        </div>
                        <div>
                            <label for="primary_weapon_ammo_amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primary Ammo</label>
                            <input type="number" name="primary_weapon_ammo_amount" id="primary_weapon_ammo_amount" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="300" required>
                        </div>
                        <div>
                            <label for="secondary_weapon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secondary Weapon</label>
                            <input type="text" name="secondary_weapon" id="secondary_weapon" class="form-control border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="P12" required>
                        </div>
                        <div>
                            <label for="secondary_weapon_ammo_amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secondary Ammo</label>
                            <input type="number" name="secondary_weapon_ammo_amount" id="secondary_weapon_ammo_amount" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="300" required>
                        </div>
                        <div>
                            <label for="armor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Armor</label>
                            <input type="number" name="armor" id="armor" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="2" required>
                        </div>
                        <div>
                            <label for="speed" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Speed</label>
                            <input type="number" name="speed" id="speed" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="2" required>
                        </div>
                        <div>
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <textarea type="text" name="description" id="description" class="form-control border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="The operator is..." required></textarea>
                        </div>
                        <div>
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                            <input type="number" name="price" id="price" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="12500" required>
                        </div>
                        <button type="button" id="button_add" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" data-modal-hide="modal">Add Operator</button>
                        <button type="button" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center " data-modal-hide="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h5 class="mt-4">Last login session: {{ last_login }}</h5>

</div>

<script>
    const messageText = document.getElementById("msgtext");
    async function getOperators() {
        return fetch("{% url 'main:get_operator_json' %}").then((res) => res.json())
    }
    
    async function refreshOperators() {
        document.getElementById("operator_card").innerHTML = ""
        const operators = await getOperators()
        if(operators.length > 0){
            messageText.textContent = "Operator Roster";
        }else{
            messageText.textContent = "Add Operator";
        }
        let htmlString = ``
        operators.forEach((operator, index, array) => {
            const isLastOperator = index === array.length - 1;
            htmlString += `\n
            <div id="operator_card" class="w-[300px] m-4 h-[580px] p-6 ${isLastOperator ? 'bg-blue-200' : 'bg-white'} border border-gray-200 rounded-lg shadow-xl">
                <div class="flex justify-between">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 ">${operator.fields.name}</h5>
                    <a>
                        <button type="submit" onclick="deleteOperator(${operator.pk}); return false;" class="btn btn-danger focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1.5 mb-2">Remove</button>
                    </a>
                </div>
                <p class="my-3 font-normal text-gray-700 ">${operator.fields.description}</p>
                <div class="flex justify-between mt-2 mb-2">
                    <p class="font-bold text-gray-900">${operator.fields.price} renown</p>
                </div>
                <div class="flex justify-between mx-2 mt-2 mb-2">
                    <a><center>${operator.fields.primary_weapon} : ${operator.fields.primary_weapon_ammo_amount}</center></a>
                    <a><center>${operator.fields.secondary_weapon} : ${operator.fields.secondary_weapon_ammo_amount}</center></a>
                </div>
                <div class="flex justify-end mx-2 mt-2 mb-2">
                    <a href="/add-primary-ammo-amount/${operator.pk}">
                        <button type="button" class="btn btn-primary text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1.5 mr-2 mb-2 focus:outline-none">+ Primary</button>
                    </a>
                    <a href="/add-secondary-ammo-amount/${operator.pk}">
                        <button type="button" class="btn btn-primary text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1.5 mr-2 mb-2 focus:outline-none">+ Secondary</button>
                    </a>
                </div>
                <div class="flex justify-end mx-2 mt-2 mb-2">
                    <a href="/dec-primary-ammo-amount/${operator.pk}">
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1.5 mr-2 mb-2">- Primary</button>
                    </a>
                    <a href="/dec-secondary-ammo-amount/${operator.pk}">
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1.5 mr-2 mb-2">- Secondary</button>
                    </a>
                </div>
            </div>
            ` 
        })
        document.getElementById("operator_card").innerHTML = htmlString
    }

    refreshOperators()

    function addOperator() {
        fetch("{% url 'main:add_operator_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(() => {
            refreshOperators();
            updateRosterSize();})

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addOperator
    
    function deleteOperator(operatorId) {
        fetch(`delete-operator-ajax/${operatorId}`, {
            method: "DELETE",
            
        }).then(() => {
            refreshOperators();
            updateRosterSize();})
        return false
    }

    function updateRosterSize() {
        getOperators().then((operators) => {
            const rosterSizeText = document.getElementById("roster-size-text");
            rosterSizeText.innerHTML = `You have <span class="text-red-500">${operators.length}</span> operator(s) in your roster`;
        });
    }
</script>
    
{% endblock content %}