<!-- Table from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_th -->
{% extends 'base.html' %}

{% block meta %}
    <title>ROSTER</title>
{% endblock meta %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h1>BattleChar</h1>

<h5>Name: </h5>
<p>{{ creator }}</p> <!-- Ubahlah sesuai dengan nama kamu -->
<h5>Class: </h5>
<p>{{ class }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->

<br />
<h3>{{ roster_size }}</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Primary weapon</th>
        <th>Secondary weapon</th>
        <th>Primary weapon ammo</th>
        <th>Secondary weapon ammo</th>
        <th>Armor</th>
        <th>Speed</th>
        <th>Description</th>
        <th>Price</th>
        <th>Add Primary Ammo</th>
        <th>Add Secondary Ammo</th>
        <th>Decrease Primary Ammo</th>
        <th>Decrease Secondary Ammo</th>
        <th>Remove Operator</th>
    </tr>

    {% for operator in operators %}
        <tr>
            <td><center>{{ operator.name }}</center></td>
            <td><center>{{ operator.unit }}</center></td>
            <td><center>{{ operator.primary_weapon }}</center></td>
            <td><center>{{ operator.secondary_weapon }}</center></td>
            <td><center>{{ operator.primary_weapon_ammo_amount }}</center></td>
            <td><center>{{ operator.secondary_weapon_ammo_amount }}</center></td>
            <td><center>{{ operator.armor }}</center></td>
            <td><center>{{ operator.speed }}</center></td>
            <td>{{ operator.description }}</td>
            <td><center>{{ operator.price }}</center></td>
            <td><center>
                <form action="{% url 'main:add_primary_ammo_amount' operator.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="Increment">Add</button>
                </form>
            </td></center>
            <td><center>
                <form action="{% url 'main:add_secondary_ammo_amount' operator.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="Increment">Add</button>
                </form></center>
            </td>
            <td><center>
                <form action="{% url 'main:dec_primary_ammo_amount' operator.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="Decrement">Decrease</button>
                </form>
            </td></center>
            <td><center>
                <form action="{% url 'main:dec_secondary_ammo_amount' operator.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="Decrement">Decrease</button>
                </form>
            </td></center>
            <td><center>
                <form action="{% url 'main:remove_operator' operator.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="Remove">Remove</button>
                </form>
            </td></center>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_operator' %}">
    <button>
        Add New Operator
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}