<header class="bg-gray-400">
    <nav class="flex justify-between items-center w-[92%] mx-auto">
        <div>
            <img class="w-36 h-14 cursor-pointer mt-2 mb-2" src="https://cdn2.steamgriddb.com/file/sgdb-cdn/logo/90664f7d1cde0398e10c9466ef495b89.png" alt="...">
        </div>
        <div
            class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
            </ul>
        </div>
        <div class="flex items-center gap-6">
            <a href="{% url 'main:logout' %}" class="bg-red-700 text-white px-5 py-2 rounded-full hover:bg-[#ec8e87]">Logout</a>
        </div>
</header>